<head>
    <%- include ('../partials/head') %> 
    <title>Register - Kandi Shoppe</title>
</head>
<body>
    <%- include ('../partials/nav') %> 

    <div class="login-area">
            <div class="bg-image">
                <div class="login-signup">
                    <div class="container">
                        <div class="login-header">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="login-logo">
                                        <img src="/public/images/ss_logo_horiz.jpg" alt="Kandi Shoppe" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="login-details">
                                        <ul class="nav nav-tabs navbar-right">
                                            <li><a data-toggle="tab" href="#register">Register</a></li>
                                            <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
    
                        <div class="tab-content">
                            <div id="register" class="tab-pane">
                               <div class="login-inner">
                                    <div class="title">
                                        <h1>Welcome <span>back!</span></h1>
                                    </div>
                                    <div class="login-form">
                                        <form>
                                            <div class="form-details">
                                                <label class="user">
                                                    <input type="text" name="username" placeholder="Name" id="username">
                                                </label>
                                                <label class="mail">
                                                    <input type="email" name="mail" placeholder="Email" id="mail">
                                                </label>
                                                <label class="pass">
                                                    <input type="password" name="passsword" placeholder="Password" id="password">
                                                </label>
                                                <label class="pass">
                                                    <input type="password" name="passsword" placeholder="Confirm Password" id="password">
                                                </label>
                                            </div>
                                            <button type="submit" class="form-btn" onsubmit="">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="login" class="tab-pane fade in active">
                                <div class="login-inner">
                                    <div class="title">
                                        <h1>Welcome <span>back!</span></h1>
                                    </div>
                                    <div class="login-form">
                                        <form>
                                            <div class="form-details">
                                                <label class="user">
                                                    <input type="text" name="username" placeholder="Username" id="username">
                                                </label>
                                                <label class="pass">
                                                    <input type="password" name="passsword" placeholder="Password" id="password">
                                                </label>
                                            </div>
                                            <button type="submit" class="form-btn" onsubmit="">Sent</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
</body>
</html>