<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    
</head>
<body>
        <%- include ('../partials/nav') %>
    <p> Here's your faves... for future orders</p>
    <% for( let i = 0; i < candy.length; i++ ) { %>
    <%= candy[i].candy %>
    <% } %>
<br />
<a href="/sweets">Want To Add More?</a>
<br />
    <a href="/sweets/process-fave">Process Faves</a>
</body>
</html>