<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove Sweets</title>

    
</head>
<body>
        <%- include ('./nav') %>
    <h1>Welcome to the sweets page</h1>
        <p>Please select a candy to add to your favorites for future order.</p>
    <% for( let i =0; i < candy.length; i++ ) { %>
        
        <a href="/sweets/delete-fave/<%= candy[i]._id%>"><%= candy[i].candy %> </a> 
        <% } %>
<br />
<p>Finished?</p>
<br />
<a href="/sweets/show-fave">Click here to see faves</a>


</body>
</html>