<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweets</title>
</head>
<body>
    <h1>Welcome to the sweets page</h1>

    <% for( let i =0; i < candy.length; i++ ) { %>
        <a href="/sweets/add-to-fave/<%= candy[i]._id %>"><%= candy[i].name %> </a> 
        
        <% } %>



</body>
</html>