<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <style>
        body {
            /* background-color: teal; */
            color: teal;
            background:url(https://previews.123rf.com/images/tandav/tandav1711/tandav171100015/90929934-candy-shop-signage-design-.jpg) fixed;
            background-size: 100em 55em ;
        }
    </style>
    <title>Home - Welcome page</title>
</head>
<body>
    <div>
        <h1>Welcome to the Candy Shop</h1>
            <p>Please register or sign in below to see what we have in stock!</p>
            <a href="/users/register">Register</a>
            <a href="/users/login">Login</a>
    </div>

    
</body>
</html>