<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <title>Home - Welcome page</title>
</head>
<body>
    <div>
        <h1>Welcome to the Kandi Shoppe.</h1>
            <p>please register or sign in below</p>
            <a href="/users/register">Register</a>
            <a href="/users/login">Login</a>
    </div>
</body>
</html>