<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
            body {
                
                color:orange;
                background:url(https://previews.123rf.com/images/tandav/tandav1711/tandav171100015/90929934-candy-shop-signage-design-.jpg) fixed;
                background-size: 100em 55em ;
            }
        </style>
    <title>Document</title>
</head>
<body>
        <%- include ('../partials/nav') %>
    <p>thank you for your interests! We will be happy to process your order.</p>
    <a href="/logout">Log out and exit</a>
</body>
</html>
<!-- add final page and log out functionality -->